@{
    ViewData["Title"] = "Home Page";
}
@model BooksViewModel

<div class="jumbotron">
    <h1 class="display-3">Welcome to Keannamazon</h1>
    <p class="lead"> You've heard of Amazon, and now you get to meet Keannamazon! 
    </p>
    <hr class="my-2">
    <p>
        With less of the features and more bugs, we are sure you will like our website just as much as the real thing!
    </p>
</div>

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b"/>
}

<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group float-right m-1">

</div>

